/* Newest */

.newest_games-header {
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
    margin: 20px;
    margin-left: 70px;
}


/*Newest Games Carousel*/

.carousel-back {
    width: 95%;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    margin: 0 auto;
}

.carousel {
    width: 95%;
    overflow-x: auto;
    margin: 0 auto;
} 

/* Scrollbar styling */
.carousel::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.7);
}
  
.carousel::-webkit-scrollbar-thumb {
    background-color: #a81000;
    border-radius: 5px;
}
  
.carousel::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.7);
}
  
.gallery-scroll {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding: 1rem;
    width: 100%;
    scroll-behavior: smooth;
}

.gallery-link {
    min-width: 260px;
    min-height: 340px;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    display: flex;
}

.gallery-link a {
    width: 100%;
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.gallery-link a:hover {
    color: #a81000;
}

  
#release-container {
    scroll-snap-align: center;
    display: grid;
    grid-template-columns: repeat(20, minmax(275px, 1fr));
    grid-gap: 15px;
    padding-left: 5px;
    padding-right: 5px;
    justify-items: center;
    align-items: center;
}
  

/*Game Recommender Home Page*/

.game_gen_container{
    background-image: url('/images/splash1.jpg');
    width: 80%;
    height: 26%;  
    margin-left: 4%;
  }
  
.game_gen_container_description{  
    font-family: monospace;
    text-align: center;
    width: 300px;  
    height: 200px;  
}

form {
    color: whitesmoke;
    text-align: center;
}

.button {
    border: none;
    color: red;
    padding: 15px 32px;
    text-decoration: none;
    font-family: monospace
}
    
.testing {background-color: #0fe9de;}


.section-heading {
    font-size: 2.5em;
    font-weight: 600;
    margin-top: 60px;
    margin-bottom: 30px;
}

.paragraph {
    font-size: 1.2em;
    line-height: 1.8;
    margin-bottom: 30px;
}

.button {
    display: inline-block;
    background-color: #0fe9de;
    color: #fff;
    font-size: 1.2em;
    text-decoration: none;
    border-radius: 40px;
    transition: background-color 0.1s ease;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.button:hover {
    background-color: #fff;
    color: #0fe9de;
}


/* Latest Reviews */

.latest {
    width: 80%;
    padding-top: 50px;
    padding-bottom: 30px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.latest-head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
  
.latest-body {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}
  
.filter_dropdown {
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: center;
  }
  
  
.latest button {
    width: 100%;
    height: 50px;
    font-weight: 600;
    font-size: 1.2em;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border: none;
    background-color: #ffffff;
    margin-top: auto;
}  

.latest_reviews_header {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    min-width: 300px;
    margin-left: -70px;
    margin-bottom: 10px;
}

.latest_reviews {
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 20px;
    margin: 0 auto;
}

#review_box {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 15px;
    padding-left: 15px;
    padding-right: 15px;
    justify-items: center;
    align-items: center;
}


/* Dropdown */

/* Dropdown Container */
.dropdown {
    position: relative;
    width: 25%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #272727d2;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    z-index: 1;
    width: 100%;
}

.dropdown-content-genre {
    display: none;
    position: absolute;
    background-color: #272727d2;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    z-index: 1;
    width: 200%;
}

/* Links inside the dropdown */
.dropdown-content a {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    text-decoration: none;
    display: block;
    color: #fff;
    font-weight: 600;
    width: 100%;
}

.dropdown-content-genre a {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    text-decoration: none;
    display: block;
    color: #fff;
    font-weight: 600;
    width: 50%;
}


/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #66666686;
}

.dropdown-content-genre a:hover {
    background-color: #66666686;
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-content-genre {
    display: flex;
    flex-wrap: wrap;
}


/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #ffffff;
    color: #181818;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}